<%- include('../includes/head') %>
<%- include('../includes/header') %>
<%- include('../includes/nav') %>

<main>
    <h1><%= title %></h1>
    <div class="inventory-grid">
        <%- grid %>
    </div>
</main>

<%- include('../includes/footer') %>