<%- include('../includes/head') %>
<%- include('../includes/header') %>
<%- include('../includes/nav') %>

<main class="vehicle-detail">
    <div class="vehicle-container">
        <div class="vehicle-image-wrapper">
            <img src="<%= vehicle.inv_image %>" alt="<%= vehicle.inv_make %> <%= vehicle.inv_model %>" class="vehicle-image">
        </div>
        <div class="vehicle-info">
            <h1><%= vehicle.inv_make %> <%= vehicle.inv_model %> <%= vehicle.inv_year %></h1>
            <div class="vehicle-price">
                <span>Price: <%= new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(vehicle.inv_price) %></span>
            </div>
            <div class="vehicle-details">
                <dl>
                    <dt>Mileage:</dt>
                    <dd><%= new Intl.NumberFormat('en-US').format(vehicle.inv_miles) %> miles</dd>
                    
                    <dt>Color:</dt>
                    <dd><%= vehicle.inv_color %></dd>
                    
                    <dt>Description:</dt>
                    <dd><%= vehicle.inv_description %></dd>
                </dl>
            </div>
        </div>
    </div>
</main>

<%- include('../includes/footer') %>