<%- include('../includes/head') %>
<%- include('../includes/header') %>
<%- include('../includes/nav') %>

<main class="vehicle-detail">
  <%- vehicleDisplay %>
</main>

<%- include('../includes/footer') %>