<%- include('../includes/head') %>
<%- include('../includes/header') %>
<%- include('../includes/nav') %>

<main class="vehicle-detail-main">
    <% if (locals.message) { %>
        <p class="notice"><%= message %></p>
    <% } else if (locals.vehicle) { %>
    <div class="vehicle-container">
        <div class="vehicle-image-wrapper">
            <img src="<%= vehicle.inv_image %>" alt="<%= vehicle.inv_make %> <%= vehicle.inv_model %>" class="vehicle-image">
        </div>
        <div class="vehicle-info">
            <h1 class="vehicle-title"><%= vehicle.inv_make %> <%= vehicle.inv_model %> <%= vehicle.inv_year %></h1>
            
            <div class="vehicle-price">
                <span class="price-label">Price:</span>
                <span class="price-value"><%= new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(vehicle.inv_price) %></span>
            </div>
            
            <div class="vehicle-details">
                <div class="detail-group">
                    <span class="detail-label">Year:</span>
                    <span class="detail-value"><%= vehicle.inv_year %></span>
                </div>
                
                <div class="detail-group">
                    <span class="detail-label">Mileage:</span>
                    <span class="detail-value"><%= new Intl.NumberFormat('en-US').format(vehicle.inv_miles) %> miles</span>
                </div>
                
                <div class="detail-group">
                    <span class="detail-label">Color:</span>
                    <span class="detail-value"><%= vehicle.inv_color %></span>
                </div>
                
                <div class="detail-group description">
                    <span class="detail-label">Description:</span>
                    <span class="detail-value"><%= vehicle.inv_description %></span>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</main>

<%- include('../includes/footer') %>