<%- include('../includes/head') %>
<%- include('../includes/header') %>
<%- include('../includes/nav') %>

<main class="management-view">
    <h1>Inventory Management</h1>
    <div class="management-links">
        <a href="/inv/add-classification" class="button">Add Classification</a>
        <a href="/inv/add-inventory" class="button">Add Inventory</a>
    </div>
    <%- include('../includes/flash-messages') %>
</main>

<%- include('../includes/footer') %>