<%- include('../includes/head') %>
<%- include('../includes/header') %>
<%- include('../includes/nav') %>

<main>
    <h1><%= title %></h1>
    <p class="notice"><%= message %></p>
</main>

<%- include('../includes/footer') %>