<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head', { title: title }) %>
</head>
<body>
    <%- include('../partials/_header') %>
    <%- include('../partials/_nav') %>
    
    <main class="detail-container">
        <%- html %>
    </main>

    <%- include('../partials/_footer') %>
</body>
</html>